
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 65px;
}

.dropdown-inverse {
  background-color: #222;
  border-color: #080808;
  &>li>a {
    color: #999;
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

.panel > .panel-heading {
  background-color: #222;
  color: #999;
  font-size: 1.5em;
}